body, html{
  height:100%;
}
body{
  margin: 0px;
  background:url('src/bg.jpg') no-repeat center center fixed;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }

.gief{
  position: absolute;
    -webkit-animation:spin 1s ease-in-out infinite;
}

@-webkit-keyframes slide {
  50% {left: 600px;}
  50% {left: 0px;}
}


.ken{
  position: absolute;
  -webkit-animation:slide 3s ease-in-out infinite;
}

